In [1]:
import numpy
import pandas as pd

import numpy as np

In [2]:
data = {"age" : [25, 30, 35, 40],
        "gender": ["male", "female", "male", "female"],
        "income" :[50000, 60000, 75000, 55000]}

df = pd.DataFrame(data)

df['gender'] = df['gender'].astype("category")

average_income = df['income'].mean()

gender_counts = df['gender'].value_counts()

print(gender_counts)
print(average_income)

gender
female    2
male      2
Name: count, dtype: int64
60000.0

In [3]:
df = pd.read_csv("Results copy.csv")

In [4]:
df.head()

,id,application_status,date_manufactured,date_time_created,description_of_operation,drone_manufacturer,is_transferred,letter_of_intent_file_id,max_weight,model,...,end_user_certificate_id,operator_address,operator_name,registration_certificate_number,certificate_date_issued,certificate_issued_date,usage_type,issuing_aviation_authority,state_of_design,type_of_certificate_id
0,1,DEREGISTERED,2024-02-28,2025-03-18 09:18:21.655286,Recreational flying and travel,Hubsan,0,NaN,0.249kg,Zino Mini SE,...,NaN,NaN,NaN,NaN,NaN,NaN,PRIVATE,NaN,NaN,NaN
1,2,DEREGISTERED,2024-01-10,2025-03-18 09:19:23.306829,Personal aerial photography and outdoor activi...,Autel Robotics,0,NaN,0.249kg,EVO Nano+,...,NaN,NaN,NaN,NaN,NaN,NaN,PRIVATE,NaN,NaN,NaN
2,3,REGISTERED,2023-08-15,2025-03-18 09:19:52.809610,"Learning to fly, casual use",SomeGenericBrand,0,NaN,0.150kg,BeginnerDrone 101,...,NaN,NaN,NaN,NaN,NaN,NaN,PRIVATE,NaN,NaN,NaN
3,4,REGISTERED,2024-01-25,2025-03-18 09:20:45.713732,High-precision surveying and mapping,Wingtra,0,5.0,3.200kg,WINGTRAONE,...,NaN,NaN,NaN,NaN,NaN,NaN,PRIVATE,NaN,NaN,NaN
4,5,REGISTERED,2023-10-12,2025-03-18 09:21:19.106328,Crop health monitoring and analysis,Sentera,0,7.0,1.300kg,PHX Pro,...,NaN,NaN,NaN,NaN,NaN,NaN,PRIVATE,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               93 non-null     int64
 1   application_status               93 non-null     object
 2   date_manufactured                93 non-null     object
 3   date_time_created                93 non-null     object
 4   description_of_operation         93 non-null     object
 5   drone_manufacturer               93 non-null     object
 6   is_transferred                   93 non-null     int64
 7   letter_of_intent_file_id         32 non-null     float64
 8   max_weight                       93 non-null     object
 9   model                            93 non-null     object
 10  operation_type                   93 non-null     object
 11  proof_of_ownership_file_id       93 non-null     int64
 12  serial_number                    93 non-null     object
 13  profile_id                       93 non-null     int64
 14  end_user_certificate_id          15 non-null     float64
 15  operator_address                 70 non-null     object
 16  operator_name                    70 non-null     object
 17  registration_certificate_number  14 non-null     object
 18  certificate_date_issued          0 non-null      float64
 19  certificate_issued_date          12 non-null     object
 20  usage_type                       93 non-null     object
 21  issuing_aviation_authority       9 non-null      object
 22  state_of_design                  9 non-null      object
 23  type_of_certificate_id           6 non-null      float64
dtypes: float64(4), int64(4), object(16)
memory usage: 17.6+ KB

In [6]:
df.iloc[0:2]

,id,application_status,date_manufactured,date_time_created,description_of_operation,drone_manufacturer,is_transferred,letter_of_intent_file_id,max_weight,model,...,end_user_certificate_id,operator_address,operator_name,registration_certificate_number,certificate_date_issued,certificate_issued_date,usage_type,issuing_aviation_authority,state_of_design,type_of_certificate_id
0,1,DEREGISTERED,2024-02-28,2025-03-18 09:18:21.655286,Recreational flying and travel,Hubsan,0,NaN,0.249kg,Zino Mini SE,...,NaN,NaN,NaN,NaN,NaN,NaN,PRIVATE,NaN,NaN,NaN
1,2,DEREGISTERED,2024-01-10,2025-03-18 09:19:23.306829,Personal aerial photography and outdoor activi...,Autel Robotics,0,NaN,0.249kg,EVO Nano+,...,NaN,NaN,NaN,NaN,NaN,NaN,PRIVATE,NaN,NaN,NaN

In [7]:
df.isnull().sum()

id                                  0
application_status                  0
date_manufactured                   0
date_time_created                   0
description_of_operation            0
drone_manufacturer                  0
is_transferred                      0
letter_of_intent_file_id           61
max_weight                          0
model                               0
operation_type                      0
proof_of_ownership_file_id          0
serial_number                       0
profile_id                          0
end_user_certificate_id            78
operator_address                   23
operator_name                      23
registration_certificate_number    79
certificate_date_issued            93
certificate_issued_date            81
usage_type                          0
issuing_aviation_authority         84
state_of_design                    84
type_of_certificate_id             87
dtype: int64

In [8]:
df.describe()

,id,is_transferred,letter_of_intent_file_id,proof_of_ownership_file_id,profile_id,end_user_certificate_id,certificate_date_issued,type_of_certificate_id
count,93.000000,93.0,32.000000,93.000000,93.000000,15.000000,0.0,6.000000
mean,35946.591398,0.0,6915.937500,15523.462366,2.645161,14727.800000,NaN,20077.666667
std,28839.058121,0.0,9326.955078,15517.281723,0.685964,10610.246962,NaN,43.692867
min,1.000000,0.0,5.000000,1.000000,1.000000,52.000000,NaN,20020.000000
25%,24.000000,0.0,20.500000,49.000000,3.000000,5043.500000,NaN,20042.250000
50%,40035.000000,0.0,45.000000,10027.000000,3.000000,20045.000000,NaN,20102.000000
75%,60048.000000,0.0,20023.000000,20052.000000,3.000000,20088.500000,NaN,20106.250000
max,70058.000000,0.0,20109.000000,60078.000000,3.000000,30082.000000,NaN,20112.000000

In [9]:
customer_data = pd.read_csv("customer_data_50.csv")

In [10]:
customer_data.head()

,customer_id,first_name,last_name,email,gender,age,city,state,country,purchase_count,total_spend,avg_order_value,last_purchase_date
0,1001,Sophia,Smith,sophia.smith@example.com,M,54,San Antonio,TX,USA,5,965,193.0,2023-09-12 15:28:32.140488
1,1002,Joseph,Smith,joseph.smith@example.com,M,66,Los Angeles,CA,USA,7,1246,178.0,2023-08-25 15:28:32.140488
2,1003,John,Anderson,john.anderson@example.com,F,56,Phoenix,AZ,USA,1,199,199.0,2024-04-28 15:28:32.140488
3,1004,Emma,Hernandez,emma.hernandez@example.com,M,44,Los Angeles,CA,USA,14,3752,268.0,2024-01-01 15:28:32.140488
4,1005,Emily,Garcia,emily.garcia@example.com,F,25,Dallas,TX,USA,12,1620,135.0,2023-12-09 15:28:32.140488

In [11]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         50 non-null     int64
 1   first_name          50 non-null     object
 2   last_name           50 non-null     object
 3   email               50 non-null     object
 4   gender              50 non-null     object
 5   age                 50 non-null     int64
 6   city                50 non-null     object
 7   state               50 non-null     object
 8   country             50 non-null     object
 9   purchase_count      50 non-null     int64
 10  total_spend         50 non-null     int64
 11  avg_order_value     50 non-null     float64
 12  last_purchase_date  50 non-null     object
dtypes: float64(1), int64(4), object(8)
memory usage: 5.2+ KB

In [12]:
customer_data_mean_age = customer_data["age"].mean()

customer_data_median_age = customer_data["age"].median()

In [13]:
print(customer_data_mean_age)
print(customer_data_median_age)

43.44
44.5

In [14]:
customer_data.describe()

       customer_id        age  purchase_count  total_spend  avg_order_value
count     50.00000  50.000000        50.00000    50.000000        50.000000
mean    1025.50000  43.440000         8.60000  1491.880000       179.920000
std       14.57738  14.833993         4.28095   968.697666        70.820221
min     1001.00000  19.000000         1.00000   199.000000        53.000000
25%     1013.25000  30.000000         5.00000   819.000000       125.750000
50%     1025.50000  44.500000         8.00000  1350.000000       180.000000
75%     1037.75000  54.000000        12.00000  1916.000000       237.500000
max     1050.00000  69.000000        15.00000  4440.000000       299.000000

to handle duplicate values

In [15]:
duplicates = customer_data.duplicated()
print(duplicates)

duplicate_rows = customer_data[customer_data.duplicated()]
print(duplicate_rows)

customer_data = customer_data.drop_duplicates()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool
Empty DataFrame
Columns: [customer_id, first_name, last_name, email, gender, age, city, state, country, purchase_count, total_spend, avg_order_value, last_purchase_date]
Index: []

In [16]:

# Keep the last occurrence of each duplicate
customer_data = customer_data.drop_duplicates(keep="last")

# Keep the first occurrence of each duplicate
customer_data = customer_data.drop_duplicates(keep="first")

# Remove all duplicate rows
customer_data = customer_data.drop_duplicates(keep=False)

In [17]:
a = np.array([2, 4, 6, 8, 10])
print(a)

[ 2  4  6  8 10]