Pandas library is designed to work with a panel or tabular data. pandas is fast, highly efficient and productive tool for manipulation and analyzing string, numeric , data and time -series data. pandas provides data structures such as DataFrames and Series. A Pandas DataFrame is a tabular, two-dimensional labeled and indexed data structure with a grid of rows and columns. Its columns are heterogenous types. It has the capability to work with different types of objects, carry out grouping and joining operations, handle missing values, create pivot tables, and deal with dates.

In [1]:
# Import pandas library
import pandas as pd

In [2]:
# Create empty DataFrame
df = pd.DataFrame()

# Header of dataframe
df.head()

Empty DataFrame
Columns: []
Index: []

In [4]:
# Create dictionary of list
data = {"Name": ["Vijay", "Sundar", "Satyam", "Indira" ], "Age": [23, 45, 46, 52]}

# Create the pandas DataFrame
df = pd.DataFrame(data)
df.head()

     Name  Age
0   Vijay   23
1  Sundar   45
2  Satyam   46
3  Indira   52

In [5]:
data1 = [{"Name": "Vijay", "Age": 23}, {"Name": "Sundar", "Age": 45}, {"Name": "Satyam", "Age": 52}]

df = pd.DataFrame(data1)

df.head()

     Name  Age
0   Vijay   23
1  Sundar   45
2  Satyam   52

pandas Series is a one-dimensional sequential data structure that is able to handle any type of data, such as string, numeric, datatime, python lists, and dictionaries with labels and indexes. Series is one of columns of a DataFrame.

In [11]:
# Creating Pandas Series using Dictionary
dict1 = {0 : "Ajay", 1 : "Jay", 2 : "Vijay" }

# Creat pandas Series
series = pd.Series(dict1)

# Show series
series

0     Ajay
1      Jay
2    Vijay
dtype: object

In [9]:
import numpy as np

In [10]:
arr = np.array([51, 65, 48, 59, 68])

# Create Pandas Series
series1 = pd.Series(arr)
series1

0    51
1    65
2    48
3    59
4    68
dtype: int64

Using a single scalar value: To create a pandas Series with a scalar value, pass the scalar value and index list to a Series object

In [12]:
series2 = pd.Series(10, index=[0, 1, 2, 3, 4, 5])
series2

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64